.contact-page {
    display: flex;
    justify-content: space-around;
}
.contact {
    display: flex;
   justify-content: center;
}

.skills-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-page {
    display: flex;
    align-items: center;
    justify-content: center;
}