.contact-form {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 500px;
}

.info-contact {
  display: flex;
}

.logo-contact {
    height: 30px;
    width: 30px;
    align-self: center;
}