.contact-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.info-contact {
  display: flex;
}

.logo-contact {
  height: 30px;
  width: 30px;
  align-self: center;
}

#btn-send-message {
  width: fit-content;
  align-self: center;
  margin-top: 10px;
}
#error {
  color: var(--error-main);
}
